<p-scrollPanel>
  <div class="flex justify-content-between flex-wrap">
    <div class="flex align-items-center justify-content-center">
      <p-card
        header="Create a tutorial"
        [style]="{
          width: '30rem',
          'margin-bottom': '2em',
          'background-color': '#9FA8DA'
        }"
      >
        <app-create></app-create>
      </p-card>
    </div>
    <div class="flex align-items-center justify-content-center">
      <p-card
        header="Tutorials List"
        [style]="{
          width: '30rem',
          'margin-bottom': '2em',
          'background-color': '#9FA8DA'
        }"
      >
        <app-read></app-read>
      </p-card>
    </div>
  </div>
  <p-scrollTop
    target="parent"
    styleClass="custom-scrolltop"
    [threshold]="100"
    icon="pi pi-arrow-up"
  ></p-scrollTop>
</p-scrollPanel>
